<h1 class='app-headline'>Article List:</h1>
<div *ngFor="let article of articlesByDate()">
  <div class='article'>
    <div class='article-headline'>
      <span class='article-title' (click)='toggleAbstract(article)'>
        {{ article.data.title }}
      </span>
      <a class='article-link' href='https://pubmed.ncbi.nlm.nih.gov/{{article.data.id}}'>
        <mat-icon>link</mat-icon>
      </a>
    </div>
    <div class='article-date'>
      Last updated: {{ article.data.date | date }}
    </div>
    <div [hidden]=article.hideAbstract>
      <div class='abstract'>
        <app-abstract [sections]="article.data.abstract"></app-abstract>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>
